## Declare and Import Data

In [2]:
import pandas as pd
import os

import numpy as np
import matplotlib.pyplot as plt
import folium

In [3]:
# Specify the path to the file
file_path = r"C:\Users\MNT\Desktop\OCL_DEMO\GitHub\SIT-5G-Network-QoE-Analysis\ReferenceCode\Hondo_SIT\raw\2024-11-22-12-16-35-0000--007-4384-2898-S.csv"
df = pd.read_csv(file_path)

df = df.rename(columns={
    "SS-RSRP​ (PCell)": "RSRP",
    "SS-RSRQ​ (PCell)": "RSRQ",
    "PCI​ (PCell)": "PCI"
})

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5243 entries, 0 to 5242
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Time              5243 non-null   object
 1   Time.1            0 non-null      float64
 2   Operator          5243 non-null   object
 3   Technology        5242 non-null   object
 4   RSRP              5241 non-null   float64
 5   RSRQ              5241 non-null   float64
 6   IP Thrpt UL       5233 non-null   float64
 7   Network Thrpt UL  5219 non-null   float64
 8   Lat               4874 non-null   float64
 9   Long              4874 non-null   float64
 10  Cell Id           0 non-null      float64
 11  PCI               5241 non-null   float64
 12  Speed o.g.        4874 non-null   float64
dtypes: float64(10), object(3)
memory usage: 532.6+ KB

,Time,Time.1,Operator,Technology,RSRP,RSRQ,IP Thrpt UL,Network Thrpt UL,Lat,Long,Cell Id,PCI,Speed o.g.
0,2024-11-22 12:16:46.730,NaN,SGP-M1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-22 12:16:46.730,NaN,SGP-M1,5G-NR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-11-22 12:16:50.712,NaN,SGP-M1,5G-NR,-85.8,-12.6,NaN,NaN,NaN,NaN,NaN,705.0,NaN
3,2024-11-22 12:16:51.285,NaN,SGP-M1,5G-NR,-85.8,-12.6,NaN,0.002,NaN,NaN,NaN,705.0,NaN
4,2024-11-22 12:16:51.297,NaN,SGP-M1,5G-NR,-85.8,-12.6,NaN,0.143,NaN,NaN,NaN,705.0,NaN

## Remove Unneccesary Data

In [5]:
df = df.dropna(axis=1, how='all')
df = df.dropna()
#df = df.dropna(subset=["Lat", "Long"])

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 4855 entries, 25 to 5242
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Time              4855 non-null   object
 1   Operator          4855 non-null   object
 2   Technology        4855 non-null   object
 3   RSRP              4855 non-null   float64
 4   RSRQ              4855 non-null   float64
 5   IP Thrpt UL       4855 non-null   float64
 6   Network Thrpt UL  4855 non-null   float64
 7   Lat               4855 non-null   float64
 8   Long              4855 non-null   float64
 9   PCI               4855 non-null   float64
 10  Speed o.g.        4855 non-null   float64
dtypes: float64(8), object(3)
memory usage: 455.2+ KB

,Time,Operator,Technology,RSRP,RSRQ,IP Thrpt UL,Network Thrpt UL,Lat,Long,PCI,Speed o.g.
25,2024-11-22 12:16:52.280,SGP-M1,5G-NR,-78.9,-10.7,0.000,0.002,1.292166,103.809752,705.0,5.0
26,2024-11-22 12:16:52.487,SGP-M1,5G-NR,-78.9,-11.1,0.000,0.002,1.292166,103.809752,705.0,5.0
27,2024-11-22 12:16:52.500,SGP-M1,5G-NR,-78.9,-11.1,0.003,0.002,1.292166,103.809752,705.0,5.0
28,2024-11-22 12:16:52.764,SGP-M1,5G-NR,-78.9,-11.1,0.003,0.116,1.292166,103.809752,705.0,5.0
29,2024-11-22 12:16:52.974,SGP-M1,5G-NR,-77.6,-11.1,0.003,0.116,1.292166,103.809752,705.0,5.0

## Save Directory

In [25]:
save_directory = r"C:\Users\MNT\Desktop\OCL_DEMO\GitHub\SIT-5G-Network-QoE-Analysis\ReferenceCode\Hondo_SIT\cleaned"
os.makedirs(save_directory, exist_ok=True)


# Set the filename dynamically
cleaned_data_name = "honda_sit"
filename = f"{cleaned_data_name}_cleaned.csv" 

file_path = os.path.join(save_directory, filename)
df.to_csv(file_path, index=False)
print(f"File saved successfully at: {file_path}")

File saved successfully at: C:\Users\MNT\Desktop\OCL_DEMO\GitHub\SIT-5G-Network-QoE-Analysis\ReferenceCode\Hondo_SIT\cleaned\honda_sit_clean.csv

## Extract from every fourth Row
- Google cannot import too large datasets

In [32]:
df = df.iloc[1::4]

save_directory = r"C:\Users\MNT\Desktop\OCL_DEMO\GitHub\SIT-5G-Network-QoE-Analysis\ReferenceCode\Hondo_SIT\processed_every_4row"
os.makedirs(save_directory, exist_ok=True)

# Set the filename dynamically
fourthRow = "reduced_data_every_4th_row"
filename = f"{fourthRow}_{cleaned_data_name}_cleaned.csv" 

file_path = os.path.join(save_directory, filename)
df.to_csv(file_path, index=False)
print(f"File saved successfully at: {file_path}")

File saved successfully at: C:\Users\MNT\Desktop\OCL_DEMO\GitHub\SIT-5G-Network-QoE-Analysis\ReferenceCode\Hondo_SIT\processed_every_4row\reduced_data_every_4th_row_honda_sit_cleaned.csv